body {
    background-color: rgba(0, 0, 0, 0.76);
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: solid rgb(223, 11, 82); */
    margin-left: auto;
    margin-right: auto;
}


.header {
    padding: 40px 0px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.5s, padding 0.5s;
}

.fixed {
    background-color: rgba(0, 0, 0, 0.76);
    padding: 20px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}


.header-title {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    font-style: normal;
    color: #ffffff;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-link {
    color: #ffffff;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    transition: color .3s;
}

.header-link:hover {
    color: #c73aff;
}

.header-item {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
    overflow: hidden;
}

.header-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
}

.header-item:hover::after {
    width: 100%;
    background-color: #c73aff;
}

/* hero */

.hero {
    padding-top: 350px;
    padding-bottom: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hero-context {
    align-items: flex-start;
    flex-direction: column;
}


.hero-title {
    color: #ffffff;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.i-text {
    color: rgb(196, 134, 255);
}

.cheat-text {
    color: rgb(162, 62, 255);
}

.typewriter {
    animation: typing 2s steps(40, end);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-right: 3px solid transparent;
    position: relative;
}


.typewriter::after {
    content: "|";
    position: absolute;
    top: -5px;
    right: -15px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.hero-descr {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: rgb(95, 73, 94);
    width: 650px;
    padding-top: 30px;
}


.hero-btn {
    padding: 20px 50px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #ff00ea;
    background-image: linear-gradient(45deg, #4a01a8 0%, #810056 51%, #4a01a8 100%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.hero-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.hero-btn:active {
    transform: scale(0.95);
}


/* advantages */

.advantage {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.advantage-title {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-bottom: 50px;
}

.advantage-descr {
    color: dimgray;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -1px;
}

.advantage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    text-align: center;
    gap: 150px;
}

.advantage-item::before {
    display: block;
    content: "";
    background-image: url(../img/radar-advantage.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.advantage-item:nth-child(2)::before {
    background-image: url(../img/gear-advantage.png);
    background-size: 200px;
}

.advantage-item:nth-child(3)::before {
    background-image: url(../img/eye-advantage.png);
    background-size: 150px;
}

.item-title {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #444444;
    padding-bottom: 10px;
}

.item-descr {
    font-family: "Syncopate", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7e7e7e;
    font-size: 15px;
}

.indozer {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/background.jpg);
    background-color: rgba(63, 63, 63, 0.76);
    background-blend-mode: multiply;
    padding-top: 100px;
    padding-bottom: 100px;
}

.indozer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 280px;
}

.indozer-number {
    color: white;
    font-size: 52px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.indozer-min {
    font-size: 32px;
    align-items: start;
    position: absolute;
    top: 0;
}

.indozer-descr {
    color: rgba(150, 150, 150, 0.589);
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.recommendation {
    padding: 200px 0;
    background-color: white;
}

.recommendation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.recommendation-title {
    color: black;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.recommendation-descr {
    color: #444444;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recommendation-img {
    width: 600px;
    height: 320px;
}

.recommendation-btn {
    padding: 20px 50px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #ff00ea;
    background-image: linear-gradient(45deg, #4a01a8 0%, #810056 51%, #4a01a8 100%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.recommendation-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.recommendation-btn:active {
    transform: scale(0.95);
}